<div class="wrapper d-flex flex-column align-items-center">
  <h1 class="title">ToDos</h1>
  <div class="row justify-content-center w-100">
    <div class="todo-wrapper p-0 d-flex flex-column column col-md-6 col-sm-8">
      <app-todo-header></app-todo-header>
      <app-todo-list></app-todo-list>
      <app-todo-footer *ngIf="hasTodo$ | async"></app-todo-footer>
    </div>
  </div>
  <small class="instruction text-center">
    <em>Press Enter to add new todo. Press Arrow icon to toggle ToDos.</em>
    <br><br>
    Copyright ToDosMVC Project
  </small>
</div>
